*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    font-family:'Lato', sans-serif;
    color:white;
}

.icono{
    width: 20px;
    height: 20px;
    filter:invert(1);
}

/*CARRUSEL*/

.main{
    position: relative;
    background: linear-gradient(to bottom, transparent 6vh, #141414 20vh);
}

.seccion-principal > h1 {
    margin-left: 12px;
}

.carrusel{
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-top: 20px;
    padding: 20px 0;
}

.carrusel::-webkit-scrollbar{
    display:none;
}

.tarjeta-carrusel{
    margin-left: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.tarjeta-carrusel > img{
    width: 200px;
    height: auto;
    border-radius: 4px;
}

.tarjeta-carrusel > .carrusel-texto{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(20,20,20,0.7);
    display: none;
    padding-top: 20px;
}

.tarjeta-carrusel > .carrusel-texto >p {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.tarjeta-carrusel:hover{
    transform: scale(1.2);
    z-index: 5;
}

.tarjeta-carrusel:hover > .carrusel-texto{
    display:block;
    align-items: center;
    font-size: 12px;
}

/*MOVIL*/

@media only screen and (max-width: 768px){
    .seccion-principal > h1 {
        font-size: 24px;
    }

    .carrusel{
        margin-top: 0;
    }
}