* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Lato', sans-serif;
}

.poster-cartelera {
    width: 90%; 
    margin-right: 0.625em;
    transition: transform 450ms;
}

.listap {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1.25em;
}

.listap:hover{
    transform: scale(1.08);
}


