*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    font-family:'Lato', sans-serif;
    color:white;
}

.icono{
    width: 20px;
    height: 20px;
    filter:invert(1);
}

/*BARRA DE NAVEGACIÓN*/

.barra-navegacion{
    position: sticky;
    top:0;
    display: flex;
    padding: 0 4%;
    min-height: 68px;
    align-items: center;
    font-size: 16px;
}

.logo-navegacion{
    display: flex;

}

.logo-navegacion>img{
    height: 50px;
}

.navegador-navegacion{
    flex:1 0 auto;
    margin: 32px;

}

.navegador-navegacion > ul{
    list-style: none;
}

.navegador-navegacion > ul > li{
    display: inline;
    margin-left: 16px;
}

.seleccionado{
    font-weight: bold;
    cursor: pointer;
}

.no-seleccionado:hover{
    text-decoration: none;
    font-weight: bold;
    transition: all 250ms ease-in;
    cursor: pointer;
}

.cerrar-sesion:hover{
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: all 250ms ease-in;
    cursor: pointer;
}

.menu-navegacion{
    display: flex;
    align-items: center;
}

.menu-navegacion>img{
    margin-right: 16px;
    cursor: pointer;
}

.menu-navegacion-movil{
    display: none;
}

@media only screen and (max-width: 768px){
    .logo-navegacion{
        flex: 1 0 auto;
    }
    
    .navegador-navegacion{
        display: none;
    }

    .menu-navegacion{
        display:none;
    }

    .menu-navegacion-movil{
        display: block;
        position: relative;
    }

    .lista-movil{
        display: none;
        position: absolute;
        border-radius: 4px;
    }

    .lista-movil>img{
        padding: 8px 4px;
        
    }

    .menu-navegacion-movil:hover>.lista-movil{
        display:block;

    }
}